
            <div class="card card_option card_margin border border-success mx-auto">
                <div class="card-header bg-success text-white border border-success">Reset Password</div>
                <% if notice %><div class="alert alert-danger"><%= notice %> </div> <% end %>
                <div class="card-body my-3">
                    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
                        <% if @user.errors.any? %>
                          <div class="error_messages">
                            <h2>Form is invalid</h2>
                            <ul>
                              <% for message in @user.errors.full_messages %>
                                <li><%= message %></li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                        <div class="form-group row mb-3">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password:</label>

                            <div class="col-md-6">
                             <%= f.password_field :password, class: 'form-control', :required => 'true'%>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password Confirmation:</label>

                            <div class="col-md-6">
                             <%= f.password_field :password_confirmation, class: 'form-control', :required => 'true'%>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <%= submit_tag "Update Password" , class: "btn btn-primary center-block"%>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>