<div class="card">
  <div class="card-header">
    Create User
  </div>
  <%= @errors %>
  <div class="card-body">
    <%= form_with :url => update_password_user_path() do |form| %>
    <div class="form-group row">
      <div class="col-md-2"> <%= form.label "current password" %> </div>
      <div class="col-md-6"> <%= form.password_field :password %> </div>
    </div><br/>
    <div class="form-group row">
      <div class="col-md-2"> <%= form.label "new password"  %> </div>
      <div class="col-md-6"> <%= form.password_field :new_password %> </div>
    </div><br/>
    <div class="form-group row">
      <div class="col-md-2"> <%= form.label "new confirm password" %> </div>
      <div class="col-md-6"> <%= form.password_field :new_password_confirmation %> </div>
    </div><br/>
    <%= form.hidden_field :id %>
    <div class="form-group row mb-0">
	  <div class="col-md-2 offset-md-2">
      <%= form.submit "Create"%>
      <%= button_tag "Clear", type: :reset %>
	  </div>
    <% end %>
  </div>
</div>