<div class="card card_option">
    <div class="card-header">
        Change Password
    </div>
    <div class="card-body">
        <%= form_with :url => update_password_user_path, :html => { :style => 'width: 80%;' } do |form| %>
            <ul>
                <%= notice if notice %>
            </ul>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "Current Password" %> </div>
                <div class="col-sm-7"><%= form.password_field :password, class: "form-control", :required => 'true' %></div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "New Password" %> </div>
                <div class="col-sm-7"> <%= form.password_field :new_password, class: "form-control", :required => 'true' %> </div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "New Confirm Password" %> </div>
                <div class="col-sm-7"> <%= form.password_field :new_password_confirmation, class: "form-control", :required => 'true' %> </div>
            </div><br/>
            <div class="form-group row mb-0">
                <div class="col-sm-5 col-form-label text-end"> </div>
                <div class="col-sm-7">
                    <%= form.submit "Update Password", class: 'btn btn-primary' %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<style>
.card_option{
    width: 50rem;
    margin: 0 auto;
}
</style>
