<div class="card card_option">
    <div class="card-header">
        Register
    </div>
    <div class="card-body">
        <%= form_with model: @user, :html => { :style => 'width: 80%;' } do |form| %>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :name %> </div>
                <div class="col-sm-7"><%= form.text_field :name, class: "form-control", :autocomplete => :off, :readonly => true %></div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "E-Mail Address" %> </div>
                <div class="col-sm-7"> <%= form.text_field :email, class: "form-control", :readonly => true %> </div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :password %> </div>
                <div class="col-sm-7"> <%= form.password_field :password, class: "form-control", :value => @user.password, :readonly => true %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :password_confirmation %> </div>
                <div class="col-sm-7"> <%= form.password_field :password_confirmation, class: "form-control", :value => @user.password_confirmation, :readonly => true %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "Type" %> </div>
                <div class="col-sm-7"> <%= form.text_field :role,:value => Constants::TYPES.values[@user.role.to_i], class: "form-control", :readonly => true %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :phone %> </div>
                <div class="col-sm-7"> <%= form.text_field :phone, class: "form-control", :readonly => true %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "Date of Birth" %> </div>
                <div class="col-sm-7"> <%= form.text_field :dob, id: 'datepicker', :autocomplete => :off, class: "form-control", :readonly => true %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :address %> </div>
                <div class="col-sm-7"> <%= form.text_field :address, class: "form-control", :readonly => true %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :profile %> </div>
                <div class="col-sm-7"> <%= image_tag 'profiles/'+@user.profile, style: 'height:150px;width:auto;' %> </div>
            </div><br/>
            <%= form.hidden_field :profile, :value => @user.profile %>
            <div class="form-group row mb-0">
                <div class="col-sm-5 col-form-label text-end"> </div>
                <div class="col-sm-7">
                    <%= form.submit "Create", class: 'btn btn-primary' %>
                    <%= button_tag "Clear", class: 'btn btn-secondary', type: :reset %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<style>
.card_option{
    width: 50rem;
    margin: 0 auto;
}
</style>