<div class="card card_option">
    <div class="card-header">
        Profile Edit
    </div>
    <div class="card-body">
        <%= form_with model: @user, :url => update_profile_user_path(@user), :html => { :style => 'width: 80%;' } do |form| %>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :name %> </div>
                <div class="col-sm-7"><%= form.text_field :name, class: "form-control", :autocomplete => :off %></div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "E-Mail Address" %> </div>
                <div class="col-sm-7"> <%= form.text_field :email, class: "form-control" %> </div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "Type" %> </div>
                <div class="col-sm-7"> <%= form.collection_select :role , User.types, :first, :last, {:prompt => @user, :selected => @user.role.to_i, include_blank: false }, class: 'form-control' %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :phone %> </div>
                <div class="col-sm-7"> <%= form.text_field :phone, class: "form-control" %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "Date of Birth" %> </div>
                <div class="col-sm-7"> <%= form.text_field :dob, id: 'datepicker', :autocomplete => :off, class: "form-control" %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :address %> </div>
                <div class="col-sm-7"> <%= form.text_field :address, class: "form-control" %> </div>
            </div><br/>
            <div class="form-group row mb-3">
              <div class="col-sm-5 col-form-label text-end"> <%= form.label "Old Profile" %> </div>
              <div class="col-md-7"> <%= image_tag @user.profile, style: 'height:150px;width:auto;' %> </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "New Profile" %> </div>
                <div class="col-sm-7"> <%= form.file_field :profile, class: "form-control" %> </div>
            </div><br/>
            <%= form.hidden_field :id, :value => @user.id %>
            <div class="form-group row mb-0">
                <div class="col-sm-5 col-form-label text-end"> </div>
                <div class="col-sm-7">
                    <%= form.submit "Create", class: 'btn btn-primary' %>
                    <%= button_tag "Clear", class: 'btn btn-secondary', type: :reset %>
                    <a href="change_password">Change Password</a>
                </div>
            </div>
        <% end %>
    </div>
</div>

<style>
.card_option{
    width: 50rem;
    margin: 0 auto;
}
</style>