<%= flash[:notice] %>
<div class="py-4">
<div class="card">
  <div class="card-header">
    User List
  </div>
    <div class="py-4">
        <%= form_tag( { :action => :search_user }, { :method => :get }) do %>
          <%= text_field_tag :name, params[:name] %>
          <%= text_field_tag :email, params[:email] %>
          <%= text_field_tag :from_date, params[:from_date], id: 'datepicker', autocomplete: 'off' %>
          <%= text_field_tag :to_date, params[:to_date], id: 'to_date', autocomplete: 'off' %>
          <%= submit_tag ("Search") %>
        <% end %>
    </div>
  <div class="card-body"> 
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created User</th>
                <th>Type</th>
                <th>Phone</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Created_date</th>
                <th>Updated_date</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= link_to user.name, user %></td>
                <td><%= user.email %></td>
                <td><%= user.create_user_id %></td>
                <td><%= user.role %></td>
                <td><%= user.phone %></td>
                <td><%= user.dob %></td>
                <td><%= user.address %></td>
                <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= user.updated_at.strftime('%Y/%m/%d') %></td>
                <td><%= link_to "Destroy", user_path(user), method: :delete,
                    data: { confirm: "Are you sure?" } %></td>
            </tr>
            <%end%>
        </tbody>
    </table>
  </div>
</div>
</div>