<div class="card card_option card_margin border border-success mx-auto">
    <div class="card-header bg-success text-white border border-success">
        Register
    </div>
    <div class="card-body my-3">
        <%= form_with model: @user, url: create_confirm_users_path, :html => { :style => 'width: 80%;' } do |form| %>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :name %> </div>
                <div class="col-sm-7">
                    <%= form.text_field :name, class: "form-control", :autocomplete => :off %>
                    <div class="text-danger"><% if @user.errors[:name].any? %><%= Messages::USER_NAME_VALIDATION %><% end %></div>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "E-Mail Address" %> </div>
                <div class="col-sm-7"> <%= form.text_field :email, class: "form-control" %> 
                    <div class="text-danger"> <% if @user.errors[:email].length == 2 %> <%= Messages::USER_EMAIL_VALIDATION %>
                        <% elsif @user.errors[:email].length == 1 %> <%= Messages::USER_EMAIL_REGIX_VALIDATION %> <% end %>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :password %> </div>
                <div class="col-sm-7"> 
                    <%= form.password_field :password, class: "form-control" %> 
                    <div class="text-danger"> <% if @user.errors[:password].any? %><%= Messages::USER_PASSWORD_VALIDATION %><% end %> </div>
                </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :password_confirmation %> </div>
                <div class="col-sm-7"> 
                    <%= form.password_field :password_confirmation, class: "form-control" %>
                    <div class="text-danger"> <% if @user.errors[:password_confirmation].any? %><%= Messages::USER_PASSWORD_CONFIRMATION_MATCHING_VALIDATION %><% end %> </div>
                </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "Type" %> </div>
                <div class="col-sm-7"> <%= form.collection_select :role , Constants::TYPES, :first, :last, {include_blank: false}, {class: 'form-select'} %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :phone %> </div>
                <div class="col-sm-7"> <%= form.text_field :phone, class: "form-control" %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label "Date of Birth" %> </div>
                <div class="col-sm-7"> <%= form.date_field :dob, :autocomplete => :off, class: "form-control" %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :address %> </div>
                <div class="col-sm-7"> <%= form.text_field :address, class: "form-control" %> </div>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :profile %> </div>
                <div class="col-sm-7"> 
                    <%= form.file_field :profile, class: "form-control" %>
                    <div class="text-danger"> <% if @user.errors[:profile].any? %><%= Messages::USER_PROFILE_VALIDATION %><% end %> </div>
                </div>
            </div><br/>
            <%= form.number_field :create_user_id, value: current_user.id.to_i, type: :hidden %>
            <%= form.number_field :updated_user_id, value: current_user.id.to_i, type: :hidden %>
            <div class="form-group row mb-0">
                <div class="col-sm-5 col-form-label text-end"> </div>
                <div class="col-sm-7">
                    <%= form.submit "Create", class: 'btn btn-primary' %>
                    <%= button_tag "Clear", class: 'btn btn-secondary', type: :reset %>
                </div>
            </div>
        <% end %>
    </div>
</div>