<div class="card card_option">
    <div class="card-header">
        Profile
    </div>
    <div class="card-body">
        <div class="row p-3">
            <div class="col-4">
                <div class="form-group">
                    <div class="img text-center "><%= image_tag 'profiles/'+@user.profile, style: 'height:120px;width:auto;' %> </div>
                </div>
            </div>
            <div class="col-8">
                <div class="col-8">
                <div class="form-group row mb-3">
                    <div class="col-sm-3"> Name </div>
                    <div class="col-sm-9"><%= @user.name %></div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-sm-3"> Type </div>
                    <div class="col-sm-9"><%= @user.role == '0' ? 'Admin' : 'User' %></div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-sm-3"> Email </div>
                    <div class="col-sm-9"><%= @user.email %></div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-sm-3"> Phone </div>
                    <div class="col-sm-9"><%= @user.phone %></div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-sm-3"> Date of Birth </div>
                    <div class="col-sm-9"><%= @user.dob %></div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-sm-3"> Address </div>
                    <div class="col-sm-9"><%= @user.address %></div>
                </div>
                <a class="btn btn-primary" href="<%= edit_profile_user_path(@user) %>">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

<style>
.card_option{
    width: 70rem;
    margin: 0 auto;
}
</style>