<div class="card">
  <div class="card-header">
    Create Post
  </div>
  <div class="card-body">
    <%= form_with model: post do |form| %>
    <div class="form-group row">
      <div class="col-md-2"> <%= form.label :title %> </div>
        <div class="col-md-6"><%= form.text_field :title ,required: true %></div>
      </div>
    <br/>
    <div class="form-group row">
      <div class="col-md-2"> <%= form.label :description %> </div>
        <div class="col-md-6"> <%= form.text_area :description , required: true %> </div>
    </div>
    <% if edit == 1 %>
    <div class="form-group row">
      <div class="col-md-2"> <%= form.label :status %> </div>
      <div class="col-md-6"> <%= form.check_box :status%> </div>
      </div>
    <% end %>
    <%= form.hidden_field :id %>
    <br/>
    <div class="form-group row mb-0">
	  <div class="col-md-2 offset-md-2">
      <%= form.submit edit == 1 ? "Update" : "Create"%>
      <%= button_tag edit == 1 ? "Reset" : "Clear", type: :reset %>
	  </div>
    <% end %>
  </div>
</div>