<div class="card card_option">
    <div class="card-header">
        Create Post
    </div>
    <div class="card-body">
        <%= form_with model: @post, :html => { :style => 'width: 80%;' } do |form| %>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :title %> </div>
                <div class="col-sm-7"><%= form.text_field :title, :readonly => true, class: "form-control" %></div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label text-end"> <%= form.label :description %> </div>
                <div class="col-sm-7"> <%= form.text_area :description, class: "form-control", :readonly => true %> </div>
            </div>
            <br/>
            <div class="form-group row mb-0">
                <div class="col-sm-5 col-form-label text-end"> </div>
                <div class="col-sm-7">
                    <%= form.submit "Confirm", class: 'btn btn-primary' %>
                    <%= link_to "Back", 'javascript:history.go(-1);', class: 'btn btn-secondary' %>
                </div>
            </div>
        <% end %>
    </div>
</div>